@model BackEnd.Models.IndexViewModel


<body id="body" class="h-screen w-full flex justify-center">
  <main class="flex justify-center items-center h-screen bg-gray-100 flex-col">
    <div id="delayedElement" class="fade-in opacity-0 p-6 bg-blue-500 text-white">
      <p class="text-4xl mb-8">WebImages</p>
    </div>
    
    <!-- Mostrar todos los posts -->
    <div class="overflow-y-auto max-h-96 w-3/4 bg-white rounded-lg shadow-md p-4">
      @foreach (var post in Model.AllPosts)
      {
        <a asp-controller="Home" asp-action="DetallePost" asp-route-id="@post.IdPost" class="block mx-4 mb-4 h-40 w-40 bg-white rounded-xl">
        <div class="mb-4 border-b pb-2">
          <img src="@("/images/" + post.UrlImagen)" alt="Post Image" class="w-full h-64 object-cover rounded-lg">
          <p class="text-sm text-gray-600 mt-2">Publicado En: @post.FechaPublicacion.ToShortDateString()</p>
        </div>
        </a>
          <form asp-controller="Home" asp-action="LikePost" asp-route-id="@post.IdPost" class="flex justify-center items-center h-12 w-48 bg-azul text-white rounded-3xl">
            <h1>Número de Me gusta: @post.ListLikes.Count()</h1>
            <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
            <input src="~/Imagenens-layout/svg/puntos.svg" type="image" class="bg-azul h-8 w-8 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" alt="Like">
          </form>
      }
    </div>

    <div class="mt-4 flex space-x-4">
      <form asp-controller="Home" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</button>
      </form>
      <a class="flex justify-center items-center h-12 w-48 bg-azul text-white rounded-3xl" asp-controller="Home" asp-action="Perfil">Pagina Perfil</a>
      <a class="flex justify-center items-center h-12 w-48 bg-azul text-white rounded-3xl" asp-controller="Home" asp-action="Postear">Postear</a>
    </div>
  </main>
</body>
