@model BackEnd.Models.PerfilViewModel;
@{
    var fotoPath = "/images/" + (Model.Usuario.FotoPerfil ?? "default.jpg");
}
<body class="h-screen w-full grid grid-cols-[35%_1fr]">

    <div class="absolute top-4 right-4">
    <a asp-action="Index" asp-controller="Home" class="bg-azul hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Página principal
        </a>
    </div>
    <main class="grid grid-rows-[70%_1fr]">
        <!--Perfil de usuario-->
        <section class="flex justify-center items-end">
            <div class="py-2 text-white h-11/12 w-11/12 flex flex-col justify-start  items-center bg-gris rounded-3xl">
                <div class="h-3/5 w-72 m-2 bg-gris flex justify-center items-center">
                    <img class="h-full w-full rounded-full flex justify-center items-center" src=@fotoPath asp-append-version/>
                </div>
                <div class="flex justify-center items-center">
                    <form class="flex flex-col justify-center items-center" asp-action="EditarFoto" asp-controller="Home" method="post" enctype="multipart/form-data">
                        <input type="file" name="NuevaFotoPerfil" />
                        <button class="bg-azul text-white font-bold w-16 h-8 rounded-3xl" type="submit">Editar</button>
                    </form>
                </div>
                    
                <h2 class="mb-2 text-2xl font-medium">@Model.Usuario.NombreUsuario</h2>
                <div class="mb-2 flex text-xl">
                    <p class="mr-4">@Model.Usuario.Nombre</p>
                    <p>@Model.Usuario.Apellido</p>
                </div>
                <!--Email-->
                <p class="mb-2 text-lg">@Model.Usuario.Email</p>
                <!--Boton modificar-->
                <a class="hover:scale-110 duration-300 flex mt-2 justify-center rounded-3xl h-10 w-48 bg-azul font-medium text-lg py-2" href="#">Configuracion</a>
            </div>    
        </section>
        <!--Sigue a y seguidores del usuario-->
        <section class="mt-4 w-full flex flex-wrap flex-col justify-center items-center">
            <div class="mb-8 w-10/12 rounded-3xl h-auto bg-gris flex justify-around text-white">
                <h2 class="my-4 hover:scale-110 duration-300 cursor-pointer text-xl bg-azul py-2 px-8 rounded-3xl">Publicaciones (@Model.PostsUsuario.Count)</h2>
            </div>
        </section>
    </main>
    <!--Contenedor grid-->
    <section class="items-center flex justify-center">
        <!--Fondo gris-->
        <div class="flex flex-col items-center px-8 h-11/12 w-11/12 bg-gris rounded-xl relative">
            <!-- Añadir botón Postear -->
            <a asp-controller="Home" asp-action="Postear" class="absolute top-4 right-4 bg-azul hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-sm">
                Postear
            </a>
            <!-- Contenedor de publicaciones -->
            <div class="flex flex-wrap justify-center mt-12">
                @foreach (var post in Model.PostsUsuario)
                {
                    <div class="mx-4 mb-4 h-40 w-40 bg-white rounded-xl">
                        <img src="@("/images/" + @post.UrlImagen)" alt="Post Image" class="h-full w-full object-cover rounded-xl">
                        <p class="text-center text-sm">Likes: @post.CantidadLikes</p>
                        <p class="text-center text-xs">@post.FechaPublicacion.ToShortDateString()</p>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>